.domaine{
	text-align:center;
	color:black;
	font-size:40px;

}
.quiz{
	width: 500px;
	margin: 50px;
	
	
}
.resultat{
	width: 500px;
	margin: 50px;
	
	
}
.solution{
	width: 500px;
	margin: 50px;
	
	
}

